@import "config";

.navbar {
    background-color: $primary-color;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    line-height: 60px;
    
    position: sticky;
    top: 10px;
    z-index: 2;

    margin: 10px 0;
    border-radius: 2rem;

    .currentPage {
        background-color: $tertiary-color;
        color: $primary-color;
        font-weight: $font-semi-bold;
        border-radius: 2rem;
    }
}

// grid sistem

.content {
    max-width: 800px;
    padding: 0 0.5rem;
    margin: 0 auto;

    .innerContent {
        max-width: 700px;
        margin: 0 auto;
    }
}

// line breaker

.iconRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    position: relative;
  }
  
.iconRow::before {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $primary-color;
    z-index: 0;
}
  
.icon {
    font-size: 1.2rem;
    color: $tertiary-color;
    background-color: $secondary-color;
    position: relative;
    z-index: 1;
    padding: 0 15px;
}

// header

.headerImg {
    position: relative;
    height: 160px;

    background-image: url("../images/trulli.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgba($tertiary-color, 0.3);
    background-blend-mode: soft-light;

    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    img {
        width: 280px;
        background-color: $secondary-color;
        border-radius: 50%;
    }

    .headerLogo {
        position: absolute;
        top: 105%;
        left: 50%;
        transform: translate(-50%, -50%);

        overflow: hidden;

        .socialLogo {
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.freeSpace {
    height: 100px;
}

// h1 background image

.bgImage {
    min-height: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgba($tertiary-color, 0.3);
    background-blend-mode: soft-light;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2rem;

    margin-bottom: 1.5rem;

    h1 {
        text-shadow: 2px 2px 4px $primary-color;
    }
}

.image1 {
    background-image: url("../images/foodFocaccia.webp");
}

.image2 {
    background-image: url("../images/foodPasta1.webp");
}

.image3 {
    background-image: url("../images/privateChef.webp");
}

.image4 {
    background-image: url("../images/cookingClass.webp");
}

.image5 {
    background-image: url("../images/smallWedding.webp");
}

.image6 {
    background-image: url("../images/foodPasta2.webp");
}

.image7 {
    background-image: url("../images/foodMix2.webp");
}

.image8 {
    background-image: url("../images/cookies.webp");
}

// generic image set

.contentImage {
    border-radius: 2rem;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

// footer

footer {
    div {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        text-align: center;

        border-top: 1px solid $tertiary-color;
    }

    .policies {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
}

// contact form

form {
    .form-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    
    @media (min-width: 800px) {
        .form-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    label {
        font-size: $font-size-text;
        font-weight: $font-regular;
    }
    
    input, select, textarea {
        width: 100%;
        padding: 0.7rem;
        color: $primary-color;
        background-color: $secondary-color-hover;
        border: 1px solid $primary-color;
        border-radius: 5px;
        cursor: pointer;
        
        &:focus {
            transition: all 0.3s ease;
            background-color: $secondary-color-active;
        }
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        margin: 1rem auto;
    
        // checkbox style
        input[type="checkbox"] {
            width: auto;
            margin-right: 0.5rem;
        }
    
        // checkbox label style
        label {
            margin: 0;
            font-size: $font-size-text;
        }
    }
    
    button {
        width: 100%;
        background-color: $tertiary-color;
        color: $primary-color;
        padding: 0.8rem;
        border: none;
        border-radius: 2rem;
    
        font-size: $font-size-text;
        font-weight: $font-semi-bold;
    
        cursor: pointer;
    
        &:hover {
            background-color: $tertiary-color-hover;
            transition: all 0.3s ease;
        }
    
        &:active {
            background-color: $tertiary-color-active;
        }
    }

    .g-recaptcha {
        margin-bottom: 1.5rem;
    }
}

// contact form banner

.message-banner {
    padding: 1rem;
    margin: 1.5rem 0;
    text-align: center;
    font-weight: $font-semi-bold;
    border-radius: 1rem;
}

.message-success {
    background-color: green;
    color: $primary-color;
}

.message-error {
    background-color: red;
    color: $secondary-color;
}