@import "reset";
@import "config";

// navbar temporanea

.temporaryNavbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: $primary-color;
    
    position: sticky;
    top: 0; /* Definisce la distanza dal top della viewport */
    z-index: 2;
}

// grid sistem

.content {
    max-width: 900px;
    margin: 0 auto;

    .innerContent {
        max-width: 800px;
        padding: 1.5rem 0.8rem;
        margin: 0 auto;
    }
}

// .baseGrid {
//     display: grid;
//     gap: 1.5rem;

//     padding-top: 2rem;
//     padding-bottom: 2rem;
// }

// line breaker

.iconRow {
    display: flex;
    justify-content: space-around; /* Spaziatura uniforme tra le icone */
    align-items: center;
    width: 100%;
    padding: 2rem 0; // in precedenza 20px
    position: relative;
  }
  
.iconRow::before {
    content: '';
    position: absolute;
    bottom: 50%; /* Posiziona la linea a metà altezza */
    left: 0;
    right: 0;
    height: 2px;
    background-color: $tertiary-color; /* Colore della linea */
    z-index: 0;
}
  
.icon {
    font-size: 1.2rem;
    color: $tertiary-color;
    background-color: $secondary-color;
    position: relative;
    z-index: 1; /* Porta le icone sopra la linea */
    padding: 0 15px; /* Aggiunge spazio attorno alle icone */
}

// header

.headerImg {
    position: relative;
    height: 200px;

    background-image: url("../images/trulliAlberobello.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgba($tertiary-color, 0.3);
    background-blend-mode: soft-light;

    img {
        width: 350px;
    }

    .headerLogo {
        position: absolute;
        top: 100%; // Posiziona a metà altezza dell'header
        left: 50%; // Posiziona al centro sull'asse X
        transform: translate(-50%, -50%); // Sposta l'elemento esattamente al centro

        overflow: hidden;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;

        .socialLogo {
            text-align: center;
        }
    }
}

.freeSpace {
    height: 200px;
}

// h1 background image

.bgImage {
    min-height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgba($tertiary-color, 0.3);
    background-blend-mode: soft-light;

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        text-shadow: 2px 2px 4px $primary-color;
    }
}

.image1 {
    background-image: url("../images/foodPasta.webp");
}

.image2 {
    background-image: url("../images/foodMix2.webp");
}

.image3 {
    background-image: url("../images/privateChef.webp");
}

.image4 {
    background-image: url("../images/cookingClass.webp");
}

.image5 {
    background-image: url("../images/smallWedding.webp");
}

// generic image set

.contentImage {
    border-radius: 0.5rem;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

// footer

footer {
    // padding: 1rem 0;
    div {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        text-align: center;

        border-top: 2px solid $tertiary-color;
    }
}