@import "reset";
@import "config";

// navbar temporanea

.navbar {
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    // height: 60px;
    background-color: $primary-color;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    line-height: 60px;
    
    position: sticky;
    top: 10px;
    z-index: 2;

    margin: 10px 0;
    border-radius: 2rem;

    .currentPage {
        background-color: $tertiary-color;
        color: $primary-color;
        font-weight: $font-semi-bold;
        // padding: 0 1rem;
        border-radius: 2rem;
    }
}

// grid sistem

.content {
    max-width: 900px;
    padding: 0 0.5rem;
    margin: 0 auto;

    .innerContent {
        max-width: 800px;
        // padding: 0 0.5rem;
        margin: 0 auto;
    }
}

// @media (max-width: 800px) {
//     .content {
//         padding: 0 0.5rem;
//     }
// }

// line breaker

.iconRow {
    display: flex;
    justify-content: space-around; /* same space between icon */
    align-items: center;
    width: 100%;
    padding: 2rem 0; // standard 20px
    position: relative;
  }
  
.iconRow::before {
    content: '';
    position: absolute;
    bottom: 50%; /* vertical align the lines */
    left: 0;
    right: 0;
    height: 1px;
    background-color: $primary-color; /* lines color */
    z-index: 0;
}
  
.icon {
    font-size: 1.2rem;
    color: $tertiary-color;
    background-color: $secondary-color;
    position: relative;
    z-index: 1; /* icon */
    padding: 0 15px; /* icon padding around */
}

// header

.headerImg {
    position: relative;
    height: 200px;

    background-image: url("../images/trulliAlberobello.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgba($tertiary-color, 0.3);
    background-blend-mode: soft-light;

    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    img {
        width: 300px;
        background-color: $secondary-color;
        border-radius: 50%;
    }

    .headerLogo {
        position: absolute;
        top: 105%; // Posiziona a metà altezza dell'header 100%
        left: 50%; // Posiziona al centro sull'asse X
        transform: translate(-50%, -50%); // Sposta l'elemento esattamente al centro

        overflow: hidden;
        // border-top-left-radius: 50%;
        // border-top-right-radius: 50%;

        .socialLogo {
            // text-align: center;
            position: absolute;
            top: 75%; // Posiziona a metà altezza dell'header 100%
            left: 50%; // Posiziona al centro sull'asse X
            transform: translate(-50%, -50%); // Sposta l'elemento esattamente al centro
        }
    }
}

.freeSpace {
    height: 120px;
}

// h1 background image

.bgImage {
    min-height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgba($tertiary-color, 0.3);
    background-blend-mode: soft-light;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2rem;

    margin-bottom: 1.5rem;

    h1 {
        text-shadow: 2px 2px 4px $primary-color;
    }
}

.image1 {
    background-image: url("../images/foodPasta.webp");
}

.image2 {
    background-image: url("../images/foodMix2.webp");
}

.image3 {
    background-image: url("../images/privateChef.webp");
}

.image4 {
    background-image: url("../images/cookingClass.webp");
}

.image5 {
    background-image: url("../images/smallWedding.webp");
}

// generic image set

.contentImage {
    border-radius: 2rem;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Ombra con sfocatura */
}

// footer

footer {
    // padding: 1rem 0;
    div {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        text-align: center;

        border-top: 1px solid $tertiary-color;
    }
}

// contact form

.form-grid {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 800px) {
    .form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
  
    /* Mantieni il campo messaggio e il bottone full-width */
    #message, button {
        grid-column: span 2;
    }
}

label {
    font-size: $font-size-text;
    font-weight: $font-regular;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid $primary-color;
    border-radius: 5px;
    background-color: $secondary-color-hover;
    color: $primary-color;

    transition: all 0.3s ease;

    // &:hover {
    //     //transition: 1s;
    //     //border-color: red;
    // }

    &:focus {
        //border-color: red;
        background-color: $secondary-color-active;
    }
}