@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  color: #301A07;
  background-color: #FFF5EB;
}

h1 {
  font-size: clamp(1.5rem, 1.3rem + 0.9vw, 2.3rem);
  font-weight: 800;
  color: white;
}

h2 {
  font-size: clamp(1.1rem, 1rem + 0.7vw, 1.8rem);
  font-weight: 800;
  color: #A38C5C;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: clamp(0.9rem, 0.85rem + 0.4vw, 1.2rem);
  font-weight: 600;
  color: #A38C5C;
}

p {
  font-size: clamp(0.9rem, 0.85rem + 0.4vw, 1.2rem);
  font-weight: 400;
  margin-bottom: 1.5rem;
}

ul {
  font-size: clamp(0.9rem, 0.85rem + 0.4vw, 1.2rem);
  font-weight: 400;
  margin-bottom: 1.5rem;
  list-style-type: none;
}

main img {
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  font-size: clamp(0.9rem, 0.85rem + 0.4vw, 1.2rem);
  font-weight: 400;
  color: #A38C5C;
}
a:hover, a:focus {
  color: #b5a37d;
}
a:active {
  color: #c8ba9d;
}

.navbar {
  background-color: #301A07;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  line-height: 60px;
  position: sticky;
  top: 10px;
  z-index: 2;
  margin: 10px 0;
  border-radius: 2rem;
}
.navbar .currentPage {
  background-color: #A38C5C;
  color: #301A07;
  font-weight: 600;
  border-radius: 2rem;
}

.content {
  max-width: 800px;
  padding: 0 0.5rem;
  margin: 0 auto;
}
.content .innerContent {
  max-width: 700px;
  margin: 0 auto;
}

.iconRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  position: relative;
}

.iconRow::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #301A07;
  z-index: 0;
}

.icon {
  font-size: 1.2rem;
  color: #A38C5C;
  background-color: #FFF5EB;
  position: relative;
  z-index: 1;
  padding: 0 15px;
}

.headerImg {
  position: relative;
  height: 160px;
  background-image: url("../images/trulli.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(163, 140, 92, 0.3);
  background-blend-mode: soft-light;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.headerImg img {
  width: 280px;
  background-color: #FFF5EB;
  border-radius: 50%;
}
.headerImg .headerLogo {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.headerImg .headerLogo .socialLogo {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.freeSpace {
  height: 100px;
}

.bgImage {
  min-height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(163, 140, 92, 0.3);
  background-blend-mode: soft-light;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
}
.bgImage h1 {
  text-shadow: 2px 2px 4px #301A07;
}

.image1 {
  background-image: url("../images/foodFocaccia.webp");
}

.image2 {
  background-image: url("../images/foodPasta1.webp");
}

.image3 {
  background-image: url("../images/privateChef.webp");
}

.image4 {
  background-image: url("../images/cookingClass.webp");
}

.image5 {
  background-image: url("../images/smallWedding.webp");
}

.image6 {
  background-image: url("../images/foodPasta2.webp");
}

.image7 {
  background-image: url("../images/foodFrisella.webp");
}

.contentImage {
  border-radius: 2rem;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

footer div {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 1px solid #A38C5C;
}

form .form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 800px) {
  form .form-grid {
    grid-template-columns: 1fr 1fr;
  }
}
form label {
  font-size: clamp(0.9rem, 0.85rem + 0.4vw, 1.2rem);
  font-weight: 400;
}
form input, form select, form textarea {
  width: 100%;
  padding: 0.7rem;
  color: #301A07;
  background-color: white;
  border: 1px solid #301A07;
  border-radius: 5px;
  cursor: pointer;
}
form input:focus, form select:focus, form textarea:focus {
  transition: all 0.3s ease;
  background-color: white;
}
form .checkbox-container {
  display: flex;
  align-items: center;
  margin: 1rem auto;
}
form .checkbox-container input[type=checkbox] {
  width: auto;
  margin-right: 0.5rem;
}
form .checkbox-container label {
  margin: 0;
  font-size: clamp(0.9rem, 0.85rem + 0.4vw, 1.2rem);
}
form button {
  width: 100%;
  background-color: #A38C5C;
  color: #301A07;
  padding: 0.8rem;
  border: none;
  border-radius: 2rem;
  font-size: clamp(0.9rem, 0.85rem + 0.4vw, 1.2rem);
  font-weight: 600;
  cursor: pointer;
}
form button:hover {
  background-color: #b5a37d;
  transition: all 0.3s ease;
}
form button:active {
  background-color: #c8ba9d;
}
form .g-recaptcha {
  margin-bottom: 1.5rem;
}

.message-banner {
  padding: 1rem;
  margin: 1.5rem 0;
  text-align: center;
  font-weight: 600;
  border-radius: 1rem;
}

.message-success {
  background-color: green;
  color: #301A07;
}

.message-error {
  background-color: red;
  color: #FFF5EB;
}